.responsive-inner
  .responsive-wrapper.responsive-element5
    mixin good
      .goods-item
        .goods-img-wrapper
          img(src="assets/img/good.jpg", alt="")
        .goods-name Google Pixel black color
        .goods-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui unde molestias quidem consectetur consequatur soluta dolores id cupiditate asperiores dolor rem ab reiciendis perferendis recusandae aperiam expedita, commodi laborum obcaecati.
        .goods-price 22 500 руб.
    +good
    +good
    +good
    +good
    +good
    +good
    +good