extends ../layout/base.pug
block prepend head
  -var title = 'home page';
block  prepend header

block  append header

block sidebar-right

block main
  h1 Корзина
  include ../partials/blocks/cart.pug