$margin: 15px;

@include breakpoint(large down) {

  .responsive-wrapper {
    display: flex;
    flex-wrap: wrap;
    &:after {
      display: none;
    }
    > * {
      flex-grow: 1;
      flex-shrink: 1;
    }
    &.responsive-element5, &.responsive-element4 {
      > * {
        width: calc(25% - #{$margin});
        margin-bottom: $margin;
        margin-left: 0;
        margin-top: 0;
        &:not(:nth-child(5n)) {
          margin-right: $margin;
        }
        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
  }

}

@include breakpoint(medium down) {
  .responsive-wrapper {
    justify-content: space-between;
    &.responsive-element5, &.responsive-element4, &.responsive-element3 {
      margin-right: 0;
      > * {
        flex-grow: 0;
        width: calc(50% - #{$margin});
        margin-right: 0 !important;

      }
    }
  }
}

@include breakpoint(small down) {
  .responsive-wrapper {
    display: block;
    &.responsive-element5, &.responsive-element4, &.responsive-element3 {
      > * {
        width: 100%;
      }
    }
  }
}

